# I. Import Libraries and Data

### Key Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

### Read Datasets

To answer questions a-e, I know that I need the following fields from the following tables:
results:
raceId, driverId, constructorId, number, positionOrder, points, fastestLapTime, rank
races: raceId, year, 
constructors:

In [2]:
import os 
base_dir = os.getcwd()
#"/Users/gracebarringer/qtm530fall2024/Lecture 03/data_raw" # 

import os 
base_dir = os.getcwd()
file_path = os.path.normpath(os.path.join(base_dir, "../../", "Lecture 03/data_raw/"))


results_file_path = os.path.join(file_path, "results.csv")
races_file_path = os.path.join(file_path, "races.csv")
constructors_file_path = os.path.join(file_path, "constructors.csv")
drivers_file_path = os.path.join(file_path, "drivers.csv")


results = pd.read_csv(results_file_path)
races = pd.read_csv(races_file_path)
constructors = pd.read_csv(constructors_file_path)
drivers = pd.read_csv(drivers_file_path)

# II. Cleaning Data

## 1.\) Checking for correct data types and fixing incorrect data types.
I want to ensure that all columns in the results table are the same types as what is shown in the f1_codebook and fix them if they are not.

## results table

In [10]:
# Checking to ensure the data types match what's expected 
results.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

number, position, milliseconds, fastestLap, and rank don't match the data types in the f1_codebook - they are showing as objects in this table but should be integers. They are showing up as objects because there is at least one non-numeric value in each of the columns. Although I will not be using all of these columns in my analysis, I still to ensure they are all of the correct data type. Next, I will check to see what the non-numeric value(s) is (are) in each column.

In [11]:
# Checking to see non-numeric values in each column  

subset_num = results.query("number.str.isnumeric() == False")
print("number: ", pd.unique(subset_num["number"]))

subset_pos = results.query("position.str.isnumeric() == False")
print("position: ", pd.unique(subset_pos["position"]))

subset_ms = results.query("milliseconds.str.isnumeric() == False")
print("milliseconds: ", pd.unique(subset_ms["milliseconds"]))

subset_fl = results.query("fastestLap.str.isnumeric() == False")
print("fastestLap: ", pd.unique(subset_fl["fastestLap"]))

subset_r = results.query("rank.str.isnumeric() == False")
print("rank: ", pd.unique(subset_r["rank"]))

number:  ['\\N']
position:  ['\\N']
milliseconds:  ['\\N']
fastestLap:  ['\\N']
rank:  ['\\N']

'\\\N' is the non-numeric value showing up across all columns listed above, so I will now use the .replace method to replace this value with NaN and convert the columns to integers.

In [12]:
# Replacing non-numeric values with NaN and converting the column to type Int64

results["number"] = results["number"].replace('\\N', np.nan)
results["number"] = pd.to_numeric(results["number"]).astype('Int64')

results["position"] = results["position"].replace('\\N', np.nan)
results["position"] = pd.to_numeric(results["position"]).astype('Int64')

results["milliseconds"] = results["milliseconds"].replace('\\N', np.nan)
results["milliseconds"] = pd.to_numeric(results["milliseconds"]).astype('Int64')

results["fastestLap"] = results["fastestLap"].replace('\\N', np.nan)
results["fastestLap"] = pd.to_numeric(results["fastestLap"]).astype('Int64')

results["rank"] = results["rank"].replace('\\N', np.nan)
results["rank"] = pd.to_numeric(results["rank"]).astype('Int64')

## races table

In [3]:
# Checking to ensure the data types match what's expected 
races.dtypes

raceId          int64
year            int64
round           int64
circuitId       int64
name           object
date           object
time           object
url            object
fp1_date       object
fp1_time       object
fp2_date       object
fp2_time       object
fp3_date       object
fp3_time       object
quali_date     object
quali_time     object
sprint_date    object
sprint_time    object
dtype: object

The column types in the races table match the codebook.

## constructors table

In [4]:
# Checking to ensure the data types match what's expected 
constructors.dtypes

constructorId      int64
constructorRef    object
name              object
nationality       object
url               object
dtype: object

The column types in the constructors table match the codebook.

## drivers table

In [5]:
# Checking to ensure the data types match what's expected 
drivers.dtypes

driverId        int64
driverRef      object
number         object
code           object
forename       object
surname        object
dob            object
nationality    object
url            object
dtype: object

number doesn't match the data type in the f1_codebook - it is showing as an object in this table but should be an integer. It is showing up as an object because there is at least one non-numeric value in this column. Next, I will check to see what the non-numeric value(s) is (are) in the number column.

In [6]:
# Checking to see non-numeric values in number column  

drivers_subset_num = drivers.query("number.str.isnumeric() == False")
print("number: ", pd.unique(drivers_subset_num["number"]))

number:  ['\\N']

'\\\N' is the non-numeric value showing up in the number column, so I will now use the .replace method to replace this value with NaN and convert the column to type integer.

In [7]:
drivers["number"] = drivers["number"].replace('\\N', np.nan)
drivers["number"] = pd.to_numeric(drivers["number"]).astype('Int64')

## 2.\) Checking for duplicate records
I want to ensure that there are no duplicate records in the tables, because each row should be a unique record

## results table

In [25]:
print("Duplicate rows in results table: ", results[results.duplicated()])

Duplicate rows in results table:  Empty DataFrame
Columns: [resultId, raceId, driverId, constructorId, number, grid, position, positionText, positionOrder, points, laps, time, milliseconds, fastestLap, rank, fastestLapTime, fastestLapSpeed, statusId]
Index: []

There are no duplicate rows in the results table.

## races table

In [8]:
print("Duplicate rows in races table: ", races[races.duplicated()])

Duplicate rows in races table:  Empty DataFrame
Columns: [raceId, year, round, circuitId, name, date, time, url, fp1_date, fp1_time, fp2_date, fp2_time, fp3_date, fp3_time, quali_date, quali_time, sprint_date, sprint_time]
Index: []

##### 3.\) Checking for count of missing values
Now that all of my columns are of the correct type and I've checked for duplicate records, I want to count how many values are missing for each column in the results table. If many values are missing in a column that I plan on using, I might need to decide on a method to impute the values.

Now that all of my columns are of the correct type, I want to count how many values each column in the results table are missing. If many values are missing in a column that I plan on using, I might need to decide on a method to impute the values. 

NaN represents a missing value in my int or float columns so I will use .isna() to count how many missing values there are in these columns. 

For object columns, I will use .isnull() to determine if any values are missing (not that isnull just checks for NULLs, but if the value makes sense or not)

In [20]:
# getting list of column names 
results_cols_all = results.columns.tolist()
# getting list of column names for numeric variables 
results_cols_num = results.select_dtypes(include = ['number']).columns.tolist()
# getting list of column names for object variables 
results_cols_obj = results.select_dtypes(include = ['object']).columns.tolist()

# count and print the missing values of each numeric column 
for i in results_cols_num:
    print("Missing value count ", i, ": ", results[i].isna().sum())

for i in results_cols_obj:
    print("Missing value count ", i, ": ", results[i].isnull().sum())

Missing value count  resultId :  0
Missing value count  raceId :  0
Missing value count  driverId :  0
Missing value count  constructorId :  0
Missing value count  number :  6
Missing value count  grid :  0
Missing value count  position :  10851
Missing value count  positionOrder :  0
Missing value count  points :  0
Missing value count  laps :  0
Missing value count  milliseconds :  18753
Missing value count  fastestLap :  18461
Missing value count  rank :  18249
Missing value count  statusId :  0
Missing value count  positionText :  0
Missing value count  time :  0
Missing value count  fastestLapTime :  0
Missing value count  fastestLapSpeed :  0

None of the fields I'm using are missing values.

Questions: 
About ferrari being "best" - when to see if ferarri is missing values for what I might uyse for "best"
About if I should look at description now or way until aggregated

##### 4.\) soemthing about uniqueness

### races table

##### 1.\) Checking for correct data types and fixing incorrect data types.
I want to ensure that all columns in the results table are the same types as what is shown in the f1_codebook and fix them if they are not.

In [ ]:
# Checking to ensure the data types match what's expected 
races.dtypes

The column types in the races table match the codebook. 

Because I will be using the races table to pull in the year to the results table on raceId, I want to ensure that raceId and year are not missing any values.

In [24]:
print("Missing value count raceId: ", races['raceId'].isna().sum())
print("Missing value count year: ", races['year'].isna().sum())

Missing value count raceId:  0
Missing value count year:  0

### drivers table

First, I want to ensure that all columns in the drivers table are the same types as what is shown in the ERD.

In [ ]:
# Checking to ensure the data types match what's expected 
drivers.dtypes

number does not match the data type in the ERD - it are showing as an object in this table but should be an integer. It is showing up as an object because there is at least one non-numeric value in the column. Next, I will check to see what the non-numeric value(s) is (are) in the column

In [ ]:
# Checking to see non-numeric values in the column  
subset_num_dr = drivers.query("number.str.isnumeric() == False")
print(pd.unique(subset_num_dr["number"]))

'\\\N' is the non-numeric value showing up in the number column, so I will now use the .replace method to replace this value with NaN and convert the column to be type integer

In [118]:
drivers["number"] = drivers["number"].replace('\\N', np.nan)
drivers["number"] = pd.to_numeric(drivers["number"]).astype('Int64')

In [ ]:
# Verifying that the number column is now type integer
drivers.dtypes

In the drivers table, each driver should be represented in one row. Furthermore, each driver should have a unique number associated with them (number to driver should be a one-to-one mapping). I want to validate this so I with check for two things: 
1. The count of rows in the table equals to the count of unique number 
2. There are no duplicate drivers

In [ ]:
# Check to see the number of rows in the dataset 
print("drivers shape: ", drivers.shape)
print("count of unique number: ", drivers['number'].nunique())




# # Combine drivers forename and surname to get unique driver name (in case some drivers have the same forename or the same surname)
# drivers['fullName'] = drivers['forename'] + " " + drivers['surname']
# drivers['normalizedName'] = drivers['fullName'].str.lower().str.strip()

Next, I want to ensure that there are no duplicate driver names and ensure that there are no typos that are resulting in the same driver being interpreted as a different driver (e.g., Lewis Hamilton vs. lewis hamilton). I will combine the forename and the lastname of the driver, and then normalize the names by stripping any white space and making the names lowercase.

In [ ]:
drivers['fullName'] = drivers['forename'] + " " + drivers['surname']

driver_counts = drivers['fullName'].value_counts()

duplicates = driver_counts[driver_counts > 1]

# Display the result
print(duplicates)

In [ ]:
drivers['normalizedName'] = drivers['fullName'].str.lower().str.strip()

# Get the value counts for the normalized names
driver_counts = drivers['normalizedName'].value_counts()

# Filter the counts where the value is greater than 1 to find duplicates
potential_duplicates = driver_counts[driver_counts > 1]

# Display the result
print(potential_duplicates)

In [ ]:
display(drivers)

### constructors table

# III. Creating needed dataframes for questions

### creating needed data frames for questions a, b, and c

In [43]:
# Pulling year into results data using a join on raceId
results_merged_abc = pd.merge(results[['raceId', 'constructorId', 'points']],
                       races[["raceId", "year"]],
                       on = "raceId",
                       how = "left")

# Pulling in constructor name 
results_merged_abc = pd.merge(results_merged_abc, constructors[['constructorId', 'name']], 
                          on = "constructorId",
                          how = "left")

In [ ]:
display(results_merged_abc)

### Creating needed dataframe for question d and e

In [ ]:
results_merged2 = pd.merge(results[['raceId', 'constructorId', "driverId", "number", 'points']],
                       races[["raceId", "year"]],
                       on = "raceId",
                       how = "left")

# Pulling in constructor name 
results_merged2 = pd.merge(results_merged2, constructors[['constructorId', 'name']], 
                          on = "constructorId",
                          how = "left")

results_merged2 = pd.merge(results_merged2, drivers[['driverId', 'forename', 'surname']], 
                          on = "driverId",
                          how = "left")

### Creating needed aggregated data frames

In [ ]:
# Created new dataframe with constructor points by year 
constructors_agg = (results_merged.groupby(["constructorId", "name", "year"]).agg(points_by_year = ('points','sum'))).reset_index()

# Querying for just years between 1981 and 2020, aggregating points by constructorId, and sorting by total points by constructor 
constructor_points_1981_2020 = (constructors_agg.query("(year >= 1981) & (year <= 2020)").groupby(["constructorId", "name"]).agg(total_points_1981_2020 = ('points_by_year','sum')).sort_values(by = 'total_points_1981_2020', ascending = False)).reset_index()

# Getting the average total points between 1981 and 2020
avg_total_points_1981_2020 = constructor_points_1981_2020['total_points_1981_2020'].mean()

### Results for Answers

In [ ]:
display(constructor_points_1981_2020.iloc[0:3,:])

print("Average total points between 1981 and 2020 ", avg_total_points_1981_2020)

In [ ]:
constructor_points_1981_2020.iloc[0:3,:]['name']

In [ ]:
# Create a bar chart for the top 3 constructors
plt.figure(figsize=(7, 4))
bars = plt.bar(constructor_points_1981_2020.iloc[0:3,:]['name'], constructor_points_1981_2020.iloc[0:3,:]['total_points_1981_2020'], color='skyblue')
plt.axhline(y=avg_total_points_1981_2020, color='red', linestyle='--', label=f'Average Points Across All Constructors: {avg_total_points_1981_2020:.0f}')

for bar in bars:
    yval = bar.get_height()  # Get the height of the bar (total points)
    plt.text(bar.get_x() + bar.get_width()/2, yval, f'{yval:,.0f}', ha='center', va='bottom', fontsize=10)


plt.xlabel('Constructor')
plt.ylabel('Total Points (1981-2020)')
plt.title('Top 3 Constructors by Total Points (1981-2020)')
plt.ylim(0, 8000)
plt.legend()

# Display the plot
plt.show()

### Answer 
| Constructor | Total Points Between 1981 and 2020 |
|-------------|------------------------------------|
| Ferrari     | 7,374                              |
| Mercedes    | 5,685                              |
| McLaren     | 5,230                              |

#### Avergage total points across all constructors between 1981 and 2020 was 532 points

#### Ferrari, Mercedes, and McLaren had the highest number of total points between 1981 and 2020

#### Between 1981 and 2020, Ferrari got 7,374 total points, Mercedes got 5,685 total points, and McLaren got 5,230 total points (5,229.5)

#### As shown in the bar chart above, Ferrari, Mercedes, and McLaren are all far higher than the average total points per constructor between 1981 and 2020. Since not all constructors participated every year or some constructors changed names between years, the average total points between 1981 and 2020 could be understated.

In [67]:
# Querying for just years between 2001 and 2020, aggregating points by constructorId, and sorting by total points by constructor 
constructor_points_2001_2020 = (constructors_agg.query("(year >= 2001) & (year <= 2020)").groupby(["constructorId", "name"]).agg(total_points_2001_2020 = ('points_by_year','sum')).sort_values(by = 'total_points_2001_2020', ascending = False)).reset_index()

# Getting the average total points between 2001 and 2020
avg_total_points_2001_2020 = constructor_points_2001_2020['total_points_2001_2020'].mean()

In [ ]:
display(constructor_points_2001_2020.iloc[0:3,:])

print("Average total points between 2001 and 2020 ", avg_total_points_2001_2020)

In [ ]:
# Create a bar chart for the top 3 constructors

plt.figure(figsize=(7, 4))
bars = plt.bar(constructor_points_2001_2020.iloc[0:3,:]['name'], constructor_points_2001_2020.iloc[0:3,:]['total_points_2001_2020'], color='skyblue')
plt.axhline(y=avg_total_points_2001_2020, color='red', linestyle='--', label=f'Average Points Across All Constructors: {avg_total_points_2001_2020:.0f}')

for bar in bars:
    yval = bar.get_height()  # Get the height of the bar (total points)
    plt.text(bar.get_x() + bar.get_width()/2, yval, f'{yval:,.0f}', ha='center', va='bottom', fontsize=10)

plt.ylim(0, 7000)
plt.xlabel('Constructor')
plt.ylabel('Total Points (2001-2020)')
plt.title('Top 3 Constructors by Total Points (2001-2020)')
plt.legend() 

# Display the plot
plt.show()

### Answer 
| Constructor | Total Points Between 2001 and 2020 |
|-------------|------------------------------------|
| Ferrari     | 5,862                              |
| Mercedes    | 5,685                              |
| Red Bull    | 5,044                              |

#### Avergage total points across all constructors between 2001 and 2020 was 786 points

#### Ferrari, Mercedes, and Red Bull had the highest number of total points between 2001 and 2020, with Ferrari getting 5,862 total points, Mercedes getting 5,685 total points, and Red Bull getting 5,044 total points; note that Mercedes has the same number of total points between 1981 and 2020, and 2001 and 2020 because within those time periods, they only started racing from 2010 onwards.

#### As shown in the bar chart above, Ferrari, Mercedes, and Red Bull are all far higher than the average total points per constructor between 2001 and 2020. Since not all constructors participated every year or some constructors changed names between years, the average total points between 2001 and 2020 could be understated.

In [ ]:
(constructors_agg.query("(year >= 1981) & (year <= 2020)")

In [99]:
results_merged2 = pd.merge(results[['raceId', 'constructorId', "driverId", "number", 'points']],
                       races[["raceId", "year"]],
                       on = "raceId",
                       how = "left")

# Pulling in constructor name 
results_merged2 = pd.merge(results_merged2, constructors[['constructorId', 'name']], 
                          on = "constructorId",
                          how = "left")

results_merged2 = pd.merge(results_merged2, drivers[['driverId', 'forename', 'surname']], 
                          on = "driverId",
                          how = "left")

In [ ]:
results_merged2['Full Name'] = df['First Name'] + ' ' + df['Last Name']

In [ ]:
display(results_merged2)